$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;

.wrapper {

	.about-perry {
		background: $cream;

		.section-heading {
			color: $darkgray;
			margin-bottom: 7px;
			text-align: left;
			padding-top: 40px;
		}

		.perry-profile-pic {
			width: 75px;
			height: 75px;
			margin-right: 2%;
			display: inline-block;
			float: left;

			background: #FFF;
			line-height: 80px;
			text-align: center;

			@media (min-width : 461px) and (max-width : 767px) {
		        width: 110px;
				height: 110px;
				line-height: 110px;
		    }

		    @media (min-width : 768px) and (max-width : 1024px) {
		        width: 155px;
				height: 155px;
				line-height: 155px;
				margin-right: 2.5%;
		    }

		    @media (min-width : 1025px) {
		        height: 300px;
		        width: 300px;
		        line-height: 300px;
		        margin-right: 50px;
		    }
		}

		.perry-background {
			margin-top: -3px;
			margin-bottom: 6%;

			@media (min-width : 1025px) {
		        width: 480px;
				display: inline-block;
				margin-bottom: 0;
		    }
		}
	}

	.contact-perry-wrapper {
		display: inline-block;

		@media (min-width : 1025px) {
	        margin-top: -150px;
	        margin-bottom: 30px;
	    }
	}

	.contact-perry, .contact-newspring {
		margin-right: 20px;
		display: inline-block;

		@media (min-width : 461px) and (max-width : 644px) {
			margin-right: 50px;
	    }

		@media (min-width : 645px) and (max-width : 1024px) {
	        margin-right: 0px;
	    }

	    &:last-child {
			margin-right: 0;
		}

		.contact-perry-snippet, .contact-newspring-snippet {
			margin-bottom: 3px;

			@media (min-width : 461px) and (max-width : 644px) {

		    }

			@media (min-width : 645px) and (max-width : 767px) {
				display: inline-block;
				margin-right: 18px;
		    }

		    @media (min-width : 768px) and (max-width : 1024px) {
		    	display: inline-block;
		    	margin-right: 28px;
		    }

		    @media (min-width : 1025px) {
		        display: block;
		        margin: 0;
		        padding-bottom: 12px;
		    }

			&:last-child {
				margin-bottom: 0;
			}
		}

		.perry-social-icon, .newspring-social-icon {
			width: 8px;
			height: 8px;
			margin-right: 5px;
			background: $orange;
			display: inline-block;

			@media (min-width : 461px) and (max-width : 767px) {
		        width: 12px;
				height: 12px;
				margin-right: 7px;
		    }

			@media (min-width : 461px) and (max-width : 767px) {
		        width: 12px;
				height: 12px;
				margin-right: 7px;
		    }

		    @media (min-width : 768px) and (max-width : 1024px) {
		        width: 15px;
				height: 15px;
				margin-right: 10px;
		    }

		    @media (min-width : 1025px) {
		        width: 20px;
				height: 20px;
				margin-right: 10px;
		    }
		}

		.perry-social-link, .newspring-social-link {
			color: $orange;
			font-size: 13px;

			@media (min-width : 461px) and (max-width : 767px) {
		        font-size: 15px;
		    }

		    @media (min-width : 768px) and (max-width : 1024px) {
		        font-size: 17px;
		    }

		   	@media (min-width : 1025px) {
		        font-size: 22px;
		    }
		}
	}

	.contact-perry {
		@media (min-width : 1025px) {
	        display: block;
	    }
	}

	.about-newspring {
		background: $darkgray;

		.desktop-wrapper {
			position: relative;
		}

		.contact-newspring-wrapper {
			display: block;
		}

		.section-heading {
			@media (min-width : 1025px) {
				text-align: left;
				padding: 55px 0 35px;
		    }
		}

		.newspring-background {
			color: $cream;
			margin-bottom: 5.5%;

			@media (min-width : 1025px) {
		        width: 480px;
				display: inline-block;
				margin-bottom: 3.5%;
		    }
		}

		.contact-newspring {
			margin-bottom: 4.5%;
		}

		.center-that-mess {
			text-align: center;
		}

		.contact-newspring:last-child {
			margin-right: 0;
		}

		.non-desktop-version {
			@media (min-width : 1025px) {
				display: none;
		    }
		}

		.get-the-app {
			display: none;
			width: 320px;
			height: 500px;
			position: absolute;
			right: 0;
			bottom: 0;
			text-align: center;

			@media (min-width : 1025px) {
				display: inline-block;
		    }

		    .app-image {
		    	width: inherit;
		    	height: 360px;
		    	background: #FFF;
		    	display: block;
		    	text-align: center;
		    	line-height: 360px;
		    	margin-bottom: 20px;
		    }

		    .orange-outline {
		    	display: block;
		    }
		}
	}
}