$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;

@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham/Gotham-Black.otf');
    src: local('Gotham'), local('Gotham'), url('../fonts/Gotham/Gotham-Black.otf') format('truetype');
}

@font-face {
    font-family: 'Memphas-ExtraBold';
    src: url('../fonts/Memphas/Memphas-ExtraBold.otf');
    src: local('Memphas'), local('Memphas'), url('../fonts/Memphas/Memphas-ExtraBold.otf') format('truetype');
}


// @font-face {
//     font-family: 'Memphas';
//     src: url('../fonts/Memphas/Memphas.otf');
//     src: local('Memphas'), local('Memphas'), url('../fonts/Memphas/Memphas.otf') format('truetype');
// }

.wrapper {
	background: $darkgray;

	.get-overwhelmed-curriculum {
		background: $cream;
		overflow: hidden;
	}

	.max-width-wrapper {
		// background: #FFF;
		position: relative;

		@media (min-width : 1025px) {
			width: 1200px;
			margin: 0 auto;
    	}

		.product-separator {
			@media (min-width : 1025px) {
				display: none;
	        }
		}

		.vertical {
			@media (min-width : 1025px) {
				width: 5px;
				height: 635px;
				background: rgb(255, 255, 255);
				display: inline-block;
				vertical-align: top;
	        }
		}

		.absolute-right {
			@media (min-width : 1025px) {
				position: absolute;
				right: 0;
				top: 0;
	        }
		}
	}

	.product {
		text-align: center;
		background: $darkgray;
		overflow: hidden;

		@media (min-width : 1025px) {
			width: 597.5px;
			display: inline-block;
        }

		.product-wrapper {
			padding-top: 5%;
			position: relative;

			@media (min-width : 1025px) {
				padding-top: 60px;
	        }
		}

		.product-number {
			color: #FFF;
			width: 40px;
			height: 40px;
			font-size: 26px;
			line-height: 45px;
			text-align: center;
			background: $orange;
			position: absolute;
			top: 0;
			left: 0;
			font-family: "Memphis", serif;

			@media (min-width : 461px) and (max-width : 767px) {
	            width: 60px;
				height: 60px;
				font-size: 38px;
				line-height: 65px;
	        }

	        @media (min-width : 768px) and (max-width : 1024px) {
	            width: 80px;
				height: 80px;
				font-size: 46px;
				line-height: 85px;
	        }

	        @media (min-width : 1025px) {
				width: 70px;
				height: 70px;
				font-size: 46px;
				line-height: 74px;
	        }
		}

		.product-image {
			width: 120px;
			height: 120px;
			background: #FFF;
			text-align: center;
			line-height: 120px;
			margin: 0 auto 4.5%;

			@media (min-width : 461px) and (max-width : 767px) {
	            height: 180px;
				width: 180px;
				line-height: 180px;
	        }

	        @media (min-width : 768px) and (max-width : 1024px) {
	            height: 280px;
				width: 280px;
				line-height: 280px;
	        }

	        @media (min-width : 1025px) {
				height: 280px;
				width: 280px;
				line-height: 280px;
				margin-bottom: 40px;
	        }
		}

		.product-name {
			color: $orange;
			margin-bottom: 3%;
			display: block;
			font-size: 12px;
			letter-spacing: 4px;
			text-transform: uppercase;
			font-family: "Proxima Nova-Black", "Gotham-Black", Helvetica, sans-serif;

			@media (min-width : 461px) and (max-width : 767px) {
	            font-size: 16px;
				letter-spacing: 6px;
	        }

	        @media (min-width : 768px) and (max-width : 1024px) {
	            font-size: 20px;
				letter-spacing: 8px;
	        }

	        @media (min-width : 1025px) {
				font-size: 26px;
				letter-spacing: 10px;
				margin-bottom: 10px;
	        }
		}

		.product-description {
			color: #FFF;
			width: 40%;
	        margin: 0 auto 3.5%;
	        display: block;

	       	@media (min-width : 1025px) {
	       		width: 55%;
				font-size: 16px;
				line-height: 22px;
	        }
		}

		.download {
			margin-bottom: 10px;
		}
	}

	.product-separator {
		height: 3px;
		background: #FFF;

		@media (min-width : 1025px) {
			height: 5px;
        }
	}

	.product-separator.top-separator {
		display: none;

		@media (min-width : 1025px) {
			display: block;
        }
	}
}