$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;

.wrapper {

	.get-free-resources {
		background: $cream;
	}

	.resources {
		padding-top: 5%;
		background: $orange;

		@media (min-width : 1025px) {
           	padding-bottom: 80px;
        }

		.resource {
			margin-bottom: 30px;

			@media (min-width : 1025px) {
	           	margin-bottom: 80px;
	        }

			&:last-child {
				margin-bottom: 0;
			}
		}

		.resource-image {
			height: 60px;
			width: 60px;
			margin-right: 14px;
			display: inline-block;
			background: #FFF;
			text-align: center;
			line-height: 55px;
			vertical-align: top;

			@media (min-width : 461px) and (max-width : 767px) {
	            height: 100px;
				width: 100px;
				line-height: 100px;
	        }

	        @media (min-width : 768px) and (max-width : 1024px) {
	            height: 140px;
				width: 140px;
				line-height: 140px;
	        }

            @media (min-width : 1025px) {
	           	height: 120px;
				width: 180px;
				margin-right: 35px;
				line-height: 120px;
	        }
		}

		.resource-copy {
			width: 63%;
			margin-top: -3px;
			display: inline-block;

			@media (min-width : 1025px) {
	           	width: 70%;
	        }
		}
	}

}