$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;


.wrapper {
    background: #FFF;

    .image-slides-shares-wrapper {
        @media (min-width : 1025px) {
            width: 1200px;
            background: #FFF;
            padding: 20px 0;
            margin: 0 auto;
        }

        .image-and-slides-wrapper {
            @media (min-width : 1025px) {
                width: 900px;
                display: inline-block;
            }
        }
    }

    .main-image {
        height: 140px;
        text-align: center;
        line-height: 140px;
        background: #FFF;
        vertical-align: top;

        @media (min-width : 461px) and (max-width : 767px) {
            height: 250px;
            line-height: 250px;
        }

        @media (min-width : 768px) and (max-width : 1024px) {
            height: 350px;
            line-height: 350px;
        }

        @media (min-width : 1025px) {
            height: 385px;
            width: inherit;
            line-height: 385px;
            background: lightgray;
        }
    }

    .arrow-up {
        margin: -10px auto 0;
        width: 0;
        height: 0;
        border-left: 10px solid rgba(0, 0, 0, 0);
        border-right: 10px solid rgba(0, 0, 0, 0);
        border-bottom: 10px solid $darkgray;

        @media (min-width : 461px) and (max-width : 767px) {
            margin: -12px auto 0;
            border-left: 12px solid rgba(0, 0, 0, 0);
            border-right: 12px solid rgba(0, 0, 0, 0);
            border-bottom: 12px solid $darkgray;
        }

        @media (min-width : 768px) and (max-width : 1024px) {
            margin: -15px auto 0;
            border-left: 15px solid rgba(0, 0, 0, 0);
            border-right: 15px solid rgba(0, 0, 0, 0);
            border-bottom: 15px solid $darkgray;
        }

        @media (min-width : 1025px) {
            margin: -20px auto 0;
            border-left: 20px solid rgba(0, 0, 0, 0);
            border-right: 20px solid rgba(0, 0, 0, 0);
            border-bottom: 20px solid $darkgray;
        }
    }

    .slides-wrapper, .shares-wrapper {
        width: inherit;
        height: inherit;
        margin: 0 auto; 
    }

    .slides {
        height: 30px;
        background: $darkgray;
        text-align: center;

        @media (min-width : 461px) and (max-width : 767px) {
            height: 45px;
        }

        @media (min-width : 768px) and (max-width : 1024px) {
            height: 60px;
        }

        @media (min-width : 1025px) {
            height: 50px;
        }

        .slide {
            color: $cream;
            margin: 0px 8.5%;
            line-height: 34px;
            font-size: 14px;
            display: inline-block;

            @media (min-width : 461px) and (max-width : 767px) {
                line-height: 52px;
                font-size: 18px;
                margin: 0 9.8%;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                line-height: 68px;
                font-size: 22px;
                margin: 0 11%;
            }

            @media (min-width : 1025px) {
                line-height: 58px;
                font-size: 18px;
                margin: 0 12%;
            }
        }
    }

    .shares-wrapper {
        text-align: center;
    }

    .shares {
        height: 90px;
        background: $cream;

        @media (min-width : 461px) and (max-width : 767px) {
            height: 150px;
        }

        @media (min-width : 768px) and (max-width : 1024px) {
            height: 180px;
        }

        @media (min-width : 1025px) {
            height: none;
            background: none;
            display: inline-block;
            vertical-align: top;
        }

        .share {
            color: #FFF;
            width: 25%;
            height: 57%;
            margin: 20px 3%;
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            display: inline-block;
            background: $orange;
            text-transform: uppercase;
            vertical-align: top;

            @media (min-width : 461px) and (max-width : 767px) {
                margin: 30px 3%;
                font-size: 18px;
                line-height: 90px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                margin: 40px 3%;
                font-size: 20px;
                line-height: 105px;
            }

            @media (min-width : 1025px) {
                height: 115px;
                line-height: 125px;
                width: 280px;
                display: block;
                margin: 0 0 20px 15px;
                text-align: center;
                font-size: 32px;
            }
        }
    }

    .about-the-book {
        background: $darkgray;
        text-align: center;
        overflow: hidden;

        @media (min-width : 1025px) {
            padding-bottom: 0;
            margin-bottom: 20px;
            text-align: left;
        }

        .orange-outline {
            @media (min-width : 1025px) {
                display: block;
                width: 160px;
            }
        }

        .inner-wrapper {
            width: 100%;

            @media (min-width : 1025px) {
                width: 900px;
            }
        }

        h3 {
            padding-bottom: 7%;
        }

        .book-and-description {
            margin: 0 auto 6%;

            @media (min-width : 1025px) {
                margin: 0;
                height: 360px;
            }
        }

        .book-image {
            width: 80px;
            height: 140px;
            background: $orange;
            display: inline-block;
            text-align: center;
            line-height: 140px;
            vertical-align: top;

            @media (min-width : 461px) and (max-width : 767px) {
                width: 120px;
                height: 200px;
                line-height: 200px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                width: 160px;
                height: 240px;
                line-height: 240px;
            }

            @media (min-width : 1025px) {
                width: 380px;
                height: 480px;
                line-height: 438px;
            }
        }

        .book-description {
            color: $cream;
            width: 55%;
            margin-left: 8%;
            margin-top: 2%;
            text-align: left;
            display: inline-block;
        }

        .non-desktop-version {
            @media (min-width : 1025px) {
                display: none;
            }
        }

        .desktop-version {
            display: none;

            @media (min-width : 1025px) {
                width: 44%;
                margin-left: 80px;
                display: inline-block;
            }

            .buy-it-now {
                @media (min-width : 1025px) {
                    margin-top: 30px;
                    margin-bottom: 80px;
                }
            }
        }
    }

    .twitter-instagram-youtube-wrapper {
        background: $orange;

        .desktop-inner-wrapper {
            @media (min-width : 1025px) {
                width: 1200px;
                margin: 0 auto;
                overflow: hidden;
            }
        }
    }

    /* set references */

    .youtube-reference, .instagram-reference, .contact-wrapper {
        display: block;
        text-align: center;

        .handle, .time-stamp {
            color: $cream;
            font-size: 10px;
            line-height: 12px;
            display: inline-block;

            @media (min-width : 461px) and (max-width : 767px) {
                font-size: 12px;
                line-height: 14px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    /* end references */

    .twitter, .instagram, .youtube {
        vertical-align: top;

        @media (min-width : 1025px) {
            display: inline-block;
            padding-bottom: 15px;
        }

        .inner-wrapper {
            @media (min-width : 1025px) {
                width: 290px;
                padding: 0 50px;
                margin: 0 auto;
            }
        }

        h3 {
            @media (min-width : 1025px) {
                font-size: 20px;
                padding: 25px 0 20px;
            }
        }
    }

    .twitter {
        background: $orange;
        text-align: left;

        .tweet {
            font-size: 11px;
            line-height: 16px;
            margin-bottom: 5px;

            @media (min-width : 461px) and (max-width : 767px) {
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 10px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 15px;
            }

            @media (min-width : 1025px) {
                font-size: 13px;
                line-height: 14px;
                margin-bottom: 0;
            }
        }

        .handle, .time-stamp {
            color: $cream;
            font-size: 10px;
            display: inline-block;

            @media (min-width : 461px) and (max-width : 767px) {
                font-size: 12px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                font-size: 14px;
            }

            @media (min-width : 1025px) {
                font-size: 14px;
            }
        }

        .time-stamp {
            margin-bottom: 15px;

            @media (min-width : 461px) and (max-width : 767px) {
                margin-bottom: 20px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                margin-bottom: 25px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .instagram {
        background: $darkgray;

        @media (min-width : 1025px) {
            background: $orange;
        }

        .instagram-image {
            width: 240px;
            height: 240px;
            margin: 0 auto 4%;
            background: #FFF;
            text-align: center;
            line-height: 240px;

            @media (min-width : 461px) and (max-width : 767px) {
                width: 300px;
                height: 300px;
                line-height: 300px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                width: 360px;
                height: 360px;
                line-height: 360px; 
            }

            @media (min-width : 1025px) {
                width: 300px;
                height: 300px;
                line-height: 300px;
            }
        }

    }

    .youtube {
        background: $orange;

        .youtube-video {
            width: 240px;
            height: 140px;
            margin: 0 auto 4%;
            background: #FFF;
            text-align: center;
            line-height: 140px;

            @media (min-width : 461px) and (max-width : 767px) {
                width: 300px;
                height: 200px;
                line-height: 200px;
            }

            @media (min-width : 768px) and (max-width : 1024px) {
                width: 360px;
                height: 260px;
                line-height: 260px; 
            }

            @media (min-width : 1025px) {
                width: 300px;
                height: 175px;
                line-height: 175px;
            }
        }
    }

    .contact.non-desktop-version {
        @media (min-width : 1025px) {
            display: none;
        }  
    }

}