$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;

.wrapper {

	.feel-overwhelmed {
		background: $cream;

		.overwhelmed-video {
			height: 140px;
			width: 240px;
			margin: 0 auto;
			background: #FFF;
			text-align: center;
			line-height: 140px;

			@media (min-width : 461px) and (max-width : 767px) {
			   height: 240px;
				width: 400px;
				line-height: 240px;
	        }

	        @media (min-width : 768px) and (max-width : 1024px) {
	            height: 340px;
				width: 540px;
				line-height: 340px;
	        }
		}
	}

	.take-quiz {
		background: $orange;
	}

	.get-updates {
		text-align: center;
		background: $darkgray;

		.name, .email {
			width: 90%;
			padding: 1.5% 8% 2% 1.5%;
			font-size: 12px;
			margin: 0 auto 3%;
			display: block;

			@media (min-width : 461px) and (max-width : 767px) {
				width: 80%;
	        }

	        @media (min-width : 768px) and (max-width : 1024px) {
	            width: 60%;
	        }
		}

		.email {
			margin-bottom: 6.5%;
		}
	}

	.read-chapter-one {
		background: $orange;
	}
}