$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;

.wrapper {

	.what-people-are-saying {
		background: $cream;
	}

	.copy {
		font-size: 12px;
		line-height: 13px;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: "Memphis", serif;

		@media (min-width : 461px) and (max-width : 767px) {
            font-size: 15px;
			line-height: 18px;
        }

        @media (min-width : 768px) and (max-width : 1024px) {
            font-size: 17px;
			line-height: 20px;
        }

		@media (min-width : 1025px) {
	        font-size: 22px;
			line-height: 24px;
			margin-top: 35px;
	    }
	}

	.review-wrapper {
		margin: 0 auto 40px;

		&:last-child {
			margin-bottom: 0;
		}

		.reviewer-profile-pic {
			height: 60px;
			width: 60px;
			margin-right: 14px;
			display: inline-block;
			background: #FFF;
			text-align: center;
			line-height: 55px;
			vertical-align: top;

			@media (min-width : 461px) and (max-width : 767px) {
	            height: 100px;
				width: 100px;
				line-height: 100px;
	        }

	        @media (min-width : 768px) and (max-width : 1024px) {
	            height: 140px;
				width: 140px;
				line-height: 140px;
	        }

	        @media (min-width : 1025px) {
		        height: 200px;
				width: 180px;
				line-height: 200px;
				margin-right: 30px;
		    }
		}

		.review {
			width: 63%;
			margin-top: -2px;
			display: inline-block;

			.review-copy {
				color: $orange;
				margin-bottom: 8px;
			}

			.name {
				text-transform: uppercase;
			}
		}
	}

	.pastor-info, .name {
		color: #FFF;
		font-size: 10px;

		@media (min-width : 461px) and (max-width : 767px) {
            font-size: 12px;
        }

        @media (min-width : 768px) and (max-width : 1024px) {
            font-size: 14px;
        }

    	@media (min-width : 1025px) {
	        font-size: 16px;
	    }
	}

	.from-pastors, .testimonials {
		h3 {
			@media (min-width : 1025px) {
		        text-align: left;
		    }
		}
	}

	.from-pastors, .testimonials {
		@media (min-width : 1025px) {
	        padding-bottom: 75px;
	    }
	}

	.from-pastors {
		background: $darkgray;

	}

	.testimonials {
		background: $orange;

		.review-wrapper {

			.review {
				.review-copy {
					color: $darkgray;
					margin-bottom: 8px;
				}
			}
		}
	}
}




