/* line 8, ../sass/about_perry.scss */
.wrapper .desktop-wrapper {
  position: relative;
}
/* line 12, ../sass/about_perry.scss */
.wrapper .about-perry {
  background: #eff0d1;
}
/* line 15, ../sass/about_perry.scss */
.wrapper .about-perry .section-heading {
  color: #282a24;
  margin-bottom: 7px;
  text-align: left;
  padding-top: 40px;
}
/* line 22, ../sass/about_perry.scss */
.wrapper .about-perry .perry-profile-pic {
  width: 75px;
  height: 75px;
  margin-right: 2%;
  display: inline-block;
  float: left;
  background: #FFF;
  line-height: 80px;
  text-align: center;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 22, ../sass/about_perry.scss */
  .wrapper .about-perry .perry-profile-pic {
    width: 110px;
    height: 110px;
    line-height: 110px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 22, ../sass/about_perry.scss */
  .wrapper .about-perry .perry-profile-pic {
    width: 155px;
    height: 155px;
    line-height: 155px;
    margin-right: 2.5%;
  }
}
@media (min-width: 1025px) {
  /* line 22, ../sass/about_perry.scss */
  .wrapper .about-perry .perry-profile-pic {
    height: 300px;
    width: 300px;
    line-height: 300px;
    margin-right: 50px;
  }
}
/* line 54, ../sass/about_perry.scss */
.wrapper .about-perry .perry-background {
  margin-top: -3px;
  margin-bottom: 6%;
}
@media (min-width: 1025px) {
  /* line 54, ../sass/about_perry.scss */
  .wrapper .about-perry .perry-background {
    width: 480px;
    display: inline-block;
    margin-bottom: 60px;
  }
}
/* line 66, ../sass/about_perry.scss */
.wrapper .contact-perry-wrapper {
  display: inline-block;
}
@media (min-width: 1025px) {
  /* line 66, ../sass/about_perry.scss */
  .wrapper .contact-perry-wrapper {
    position: absolute;
    left: 0;
    bottom: 50px;
  }
}
/* line 76, ../sass/about_perry.scss */
.wrapper .contact-perry, .wrapper .contact-newspring {
  margin-right: 18px;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 644px) {
  /* line 76, ../sass/about_perry.scss */
  .wrapper .contact-perry, .wrapper .contact-newspring {
    margin-right: 60px;
  }
}
@media (min-width: 645px) and (max-width: 1024px) {
  /* line 76, ../sass/about_perry.scss */
  .wrapper .contact-perry, .wrapper .contact-newspring {
    margin-right: 120px;
  }
}
/* line 89, ../sass/about_perry.scss */
.wrapper .contact-perry:last-child, .wrapper .contact-newspring:last-child {
  margin-right: 0;
}
/* line 93, ../sass/about_perry.scss */
.wrapper .contact-perry .contact-perry-snippet, .wrapper .contact-perry .contact-newspring-snippet, .wrapper .contact-newspring .contact-perry-snippet, .wrapper .contact-newspring .contact-newspring-snippet {
  margin-bottom: 3px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 93, ../sass/about_perry.scss */
  .wrapper .contact-perry .contact-perry-snippet, .wrapper .contact-perry .contact-newspring-snippet, .wrapper .contact-newspring .contact-perry-snippet, .wrapper .contact-newspring .contact-newspring-snippet {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 93, ../sass/about_perry.scss */
  .wrapper .contact-perry .contact-perry-snippet, .wrapper .contact-perry .contact-newspring-snippet, .wrapper .contact-newspring .contact-perry-snippet, .wrapper .contact-newspring .contact-newspring-snippet {
    margin-bottom: 15px;
  }
}
@media (min-width: 1025px) {
  /* line 93, ../sass/about_perry.scss */
  .wrapper .contact-perry .contact-perry-snippet, .wrapper .contact-perry .contact-newspring-snippet, .wrapper .contact-newspring .contact-perry-snippet, .wrapper .contact-newspring .contact-newspring-snippet {
    margin-bottom: 0;
    padding-bottom: 12px;
  }
}
/* line 109, ../sass/about_perry.scss */
.wrapper .contact-perry .contact-perry-snippet:last-child, .wrapper .contact-perry .contact-newspring-snippet:last-child, .wrapper .contact-newspring .contact-perry-snippet:last-child, .wrapper .contact-newspring .contact-newspring-snippet:last-child {
  margin-bottom: 0;
}
/* line 114, ../sass/about_perry.scss */
.wrapper .contact-perry .perry-social-icon, .wrapper .contact-perry .newspring-social-icon, .wrapper .contact-newspring .perry-social-icon, .wrapper .contact-newspring .newspring-social-icon {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background: #ee5025;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 114, ../sass/about_perry.scss */
  .wrapper .contact-perry .perry-social-icon, .wrapper .contact-perry .newspring-social-icon, .wrapper .contact-newspring .perry-social-icon, .wrapper .contact-newspring .newspring-social-icon {
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 114, ../sass/about_perry.scss */
  .wrapper .contact-perry .perry-social-icon, .wrapper .contact-perry .newspring-social-icon, .wrapper .contact-newspring .perry-social-icon, .wrapper .contact-newspring .newspring-social-icon {
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 114, ../sass/about_perry.scss */
  .wrapper .contact-perry .perry-social-icon, .wrapper .contact-perry .newspring-social-icon, .wrapper .contact-newspring .perry-social-icon, .wrapper .contact-newspring .newspring-social-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (min-width: 1025px) {
  /* line 114, ../sass/about_perry.scss */
  .wrapper .contact-perry .perry-social-icon, .wrapper .contact-perry .newspring-social-icon, .wrapper .contact-newspring .perry-social-icon, .wrapper .contact-newspring .newspring-social-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
/* line 146, ../sass/about_perry.scss */
.wrapper .contact-perry .perry-social-link, .wrapper .contact-perry .newspring-social-link, .wrapper .contact-newspring .perry-social-link, .wrapper .contact-newspring .newspring-social-link {
  color: #ee5025;
  font-size: 13px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 146, ../sass/about_perry.scss */
  .wrapper .contact-perry .perry-social-link, .wrapper .contact-perry .newspring-social-link, .wrapper .contact-newspring .perry-social-link, .wrapper .contact-newspring .newspring-social-link {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 146, ../sass/about_perry.scss */
  .wrapper .contact-perry .perry-social-link, .wrapper .contact-perry .newspring-social-link, .wrapper .contact-newspring .perry-social-link, .wrapper .contact-newspring .newspring-social-link {
    font-size: 17px;
  }
}
@media (min-width: 1025px) {
  /* line 146, ../sass/about_perry.scss */
  .wrapper .contact-perry .perry-social-link, .wrapper .contact-perry .newspring-social-link, .wrapper .contact-newspring .perry-social-link, .wrapper .contact-newspring .newspring-social-link {
    font-size: 22px;
  }
}
@media (min-width: 1025px) {
  /* line 164, ../sass/about_perry.scss */
  .wrapper .contact-perry {
    display: block;
  }
}
/* line 170, ../sass/about_perry.scss */
.wrapper .about-newspring {
  background: #282a24;
}
/* line 173, ../sass/about_perry.scss */
.wrapper .about-newspring .desktop-wrapper {
  position: relative;
}
/* line 177, ../sass/about_perry.scss */
.wrapper .about-newspring .contact-newspring-wrapper {
  display: block;
}
@media (min-width: 1025px) {
  /* line 181, ../sass/about_perry.scss */
  .wrapper .about-newspring .section-heading {
    text-align: left;
    padding: 55px 0 35px;
  }
}
/* line 188, ../sass/about_perry.scss */
.wrapper .about-newspring .newspring-background {
  color: #eff0d1;
  margin-bottom: 5.5%;
}
@media (min-width: 1025px) {
  /* line 188, ../sass/about_perry.scss */
  .wrapper .about-newspring .newspring-background {
    width: 480px;
    display: inline-block;
    margin-bottom: 3.5%;
  }
}
/* line 199, ../sass/about_perry.scss */
.wrapper .about-newspring .contact-newspring {
  margin-bottom: 4.5%;
}
/* line 203, ../sass/about_perry.scss */
.wrapper .about-newspring .center-that-mess {
  text-align: center;
}
/* line 207, ../sass/about_perry.scss */
.wrapper .about-newspring .contact-newspring:last-child {
  margin-right: 0;
}
@media (min-width: 1025px) {
  /* line 211, ../sass/about_perry.scss */
  .wrapper .about-newspring .non-desktop-version {
    display: none;
  }
}
/* line 217, ../sass/about_perry.scss */
.wrapper .about-newspring .get-the-app {
  display: none;
  width: 320px;
  height: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}
@media (min-width: 1025px) {
  /* line 217, ../sass/about_perry.scss */
  .wrapper .about-newspring .get-the-app {
    display: inline-block;
  }
}
/* line 230, ../sass/about_perry.scss */
.wrapper .about-newspring .get-the-app .app-image {
  width: inherit;
  height: 360px;
  background: #FFF;
  display: block;
  text-align: center;
  line-height: 360px;
  margin-bottom: 20px;
}
/* line 240, ../sass/about_perry.scss */
.wrapper .about-newspring .get-the-app .orange-outline {
  display: block;
}
