/* line 8, ../sass/buy_the_book.scss */
.wrapper .buy-the-book {
  background: #eff0d1;
}
/* line 12, ../sass/buy_the_book.scss */
.wrapper .buy-book-options {
  width: 240px;
  height: 310px;
  margin: 0 auto 5%;
  background: #FFF;
  text-align: center;
  line-height: 310px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 12, ../sass/buy_the_book.scss */
  .wrapper .buy-book-options {
    width: 380px;
    height: 480px;
    line-height: 480px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 12, ../sass/buy_the_book.scss */
  .wrapper .buy-book-options {
    width: 500px;
    height: 640px;
    line-height: 640px;
  }
}
@media (min-width: 1025px) {
  /* line 12, ../sass/buy_the_book.scss */
  .wrapper .buy-book-options {
    height: 620px;
    width: 480px;
    line-height: 620px;
  }
}
