/* line 8, ../sass/free_resources.scss */
.wrapper .get-free-resources {
  background: #eff0d1;
}
/* line 12, ../sass/free_resources.scss */
.wrapper .resources {
  padding-top: 5%;
  background: #ee5025;
}
@media (min-width: 1025px) {
  /* line 12, ../sass/free_resources.scss */
  .wrapper .resources {
    padding-bottom: 80px;
  }
}
/* line 20, ../sass/free_resources.scss */
.wrapper .resources .resource {
  margin-bottom: 30px;
}
@media (min-width: 1025px) {
  /* line 20, ../sass/free_resources.scss */
  .wrapper .resources .resource {
    margin-bottom: 80px;
  }
}
/* line 27, ../sass/free_resources.scss */
.wrapper .resources .resource:last-child {
  margin-bottom: 0;
}
/* line 32, ../sass/free_resources.scss */
.wrapper .resources .resource-image {
  height: 60px;
  width: 60px;
  margin-right: 14px;
  display: inline-block;
  background: #FFF;
  text-align: center;
  line-height: 55px;
  vertical-align: top;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 32, ../sass/free_resources.scss */
  .wrapper .resources .resource-image {
    height: 100px;
    width: 100px;
    line-height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 32, ../sass/free_resources.scss */
  .wrapper .resources .resource-image {
    height: 140px;
    width: 140px;
    line-height: 140px;
  }
}
@media (min-width: 1025px) {
  /* line 32, ../sass/free_resources.scss */
  .wrapper .resources .resource-image {
    height: 120px;
    width: 180px;
    margin-right: 35px;
    line-height: 120px;
  }
}
/* line 62, ../sass/free_resources.scss */
.wrapper .resources .resource-copy {
  width: 63%;
  margin-top: -3px;
  display: inline-block;
}
@media (min-width: 1025px) {
  /* line 62, ../sass/free_resources.scss */
  .wrapper .resources .resource-copy {
    width: 70%;
  }
}
