/* line 7, ../sass/home.scss */
.wrapper {
  /* set references */
  /* end references */
}
/* line 9, ../sass/home.scss */
.wrapper .main-image {
  height: 140px;
  text-align: center;
  line-height: 140px;
  background: #FFF;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 9, ../sass/home.scss */
  .wrapper .main-image {
    height: 250px;
    line-height: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 9, ../sass/home.scss */
  .wrapper .main-image {
    height: 350px;
    line-height: 350px;
  }
}
/* line 26, ../sass/home.scss */
.wrapper .arrow-up {
  margin: -10px auto 0;
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid #282a24;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 26, ../sass/home.scss */
  .wrapper .arrow-up {
    margin: -12px auto 0;
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid #282a24;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 26, ../sass/home.scss */
  .wrapper .arrow-up {
    margin: -15px auto 0;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid #282a24;
  }
}
/* line 49, ../sass/home.scss */
.wrapper .slides-wrapper, .wrapper .shares-wrapper {
  width: inherit;
  height: inherit;
  margin: 0 auto;
}
/* line 55, ../sass/home.scss */
.wrapper .slides {
  height: 30px;
  background: #282a24;
  text-align: center;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 55, ../sass/home.scss */
  .wrapper .slides {
    height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 55, ../sass/home.scss */
  .wrapper .slides {
    height: 60px;
  }
}
/* line 68, ../sass/home.scss */
.wrapper .slides .slide {
  color: #eff0d1;
  margin: 0px 8.5%;
  line-height: 34px;
  font-size: 14px;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 68, ../sass/home.scss */
  .wrapper .slides .slide {
    line-height: 52px;
    font-size: 18px;
    margin: 0 9.8%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 68, ../sass/home.scss */
  .wrapper .slides .slide {
    line-height: 68px;
    font-size: 22px;
    margin: 0 11%;
  }
}
/* line 89, ../sass/home.scss */
.wrapper .shares-wrapper {
  text-align: center;
}
/* line 93, ../sass/home.scss */
.wrapper .shares {
  height: 90px;
  background: #eff0d1;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 93, ../sass/home.scss */
  .wrapper .shares {
    height: 150px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 93, ../sass/home.scss */
  .wrapper .shares {
    height: 180px;
  }
}
/* line 105, ../sass/home.scss */
.wrapper .shares .share {
  color: #FFF;
  width: 25%;
  height: 57%;
  margin: 20px 3%;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  background: #ee5025;
  text-transform: uppercase;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 105, ../sass/home.scss */
  .wrapper .shares .share {
    margin: 30px 3%;
    font-size: 18px;
    line-height: 90px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 105, ../sass/home.scss */
  .wrapper .shares .share {
    margin: 40px 3%;
    font-size: 20px;
    line-height: 105px;
  }
}
/* line 131, ../sass/home.scss */
.wrapper .about-the-book {
  background: #282a24;
  text-align: center;
}
/* line 135, ../sass/home.scss */
.wrapper .about-the-book .inner-wrapper {
  width: 100%;
}
/* line 139, ../sass/home.scss */
.wrapper .about-the-book h3 {
  padding-bottom: 7%;
}
/* line 143, ../sass/home.scss */
.wrapper .about-the-book .book-and-description {
  margin: 0 auto 6%;
}
/* line 147, ../sass/home.scss */
.wrapper .about-the-book .book-image {
  width: 80px;
  height: 140px;
  background: #ee5025;
  display: inline-block;
  text-align: center;
  line-height: 140px;
  vertical-align: top;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 147, ../sass/home.scss */
  .wrapper .about-the-book .book-image {
    width: 120px;
    height: 200px;
    line-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 147, ../sass/home.scss */
  .wrapper .about-the-book .book-image {
    width: 160px;
    height: 240px;
    line-height: 240px;
  }
}
/* line 169, ../sass/home.scss */
.wrapper .about-the-book .book-description {
  color: #eff0d1;
  width: 55%;
  margin-left: 8%;
  margin-top: 2%;
  text-align: left;
  display: inline-block;
}
/* line 181, ../sass/home.scss */
.wrapper .youtube-reference, .wrapper .instagram-reference, .wrapper .contact-wrapper {
  display: block;
  text-align: center;
}
/* line 185, ../sass/home.scss */
.wrapper .youtube-reference .handle, .wrapper .youtube-reference .time-stamp, .wrapper .instagram-reference .handle, .wrapper .instagram-reference .time-stamp, .wrapper .contact-wrapper .handle, .wrapper .contact-wrapper .time-stamp {
  color: #eff0d1;
  font-size: 10px;
  line-height: 12px;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 185, ../sass/home.scss */
  .wrapper .youtube-reference .handle, .wrapper .youtube-reference .time-stamp, .wrapper .instagram-reference .handle, .wrapper .instagram-reference .time-stamp, .wrapper .contact-wrapper .handle, .wrapper .contact-wrapper .time-stamp {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 185, ../sass/home.scss */
  .wrapper .youtube-reference .handle, .wrapper .youtube-reference .time-stamp, .wrapper .instagram-reference .handle, .wrapper .instagram-reference .time-stamp, .wrapper .contact-wrapper .handle, .wrapper .contact-wrapper .time-stamp {
    font-size: 14px;
    line-height: 16px;
  }
}
/* line 205, ../sass/home.scss */
.wrapper .twitter {
  background: #ee5025;
}
/* line 208, ../sass/home.scss */
.wrapper .twitter .tweet {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 5px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 208, ../sass/home.scss */
  .wrapper .twitter .tweet {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 208, ../sass/home.scss */
  .wrapper .twitter .tweet {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}
/* line 226, ../sass/home.scss */
.wrapper .twitter .handle, .wrapper .twitter .time-stamp {
  color: #eff0d1;
  font-size: 10px;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 226, ../sass/home.scss */
  .wrapper .twitter .handle, .wrapper .twitter .time-stamp {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 226, ../sass/home.scss */
  .wrapper .twitter .handle, .wrapper .twitter .time-stamp {
    font-size: 14px;
  }
}
/* line 240, ../sass/home.scss */
.wrapper .twitter .time-stamp {
  margin-bottom: 15px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 240, ../sass/home.scss */
  .wrapper .twitter .time-stamp {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 240, ../sass/home.scss */
  .wrapper .twitter .time-stamp {
    margin-bottom: 25px;
  }
}
/* line 251, ../sass/home.scss */
.wrapper .twitter .time-stamp:last-child {
  margin-bottom: 0;
}
/* line 257, ../sass/home.scss */
.wrapper .instagram {
  background: #282a24;
}
/* line 260, ../sass/home.scss */
.wrapper .instagram .instagram-image {
  width: 240px;
  height: 240px;
  margin: 0 auto 4%;
  background: #FFF;
  text-align: center;
  line-height: 240px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 260, ../sass/home.scss */
  .wrapper .instagram .instagram-image {
    width: 300px;
    height: 300px;
    line-height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 260, ../sass/home.scss */
  .wrapper .instagram .instagram-image {
    width: 360px;
    height: 360px;
    line-height: 360px;
  }
}
/* line 283, ../sass/home.scss */
.wrapper .youtube {
  background: #ee5025;
}
/* line 286, ../sass/home.scss */
.wrapper .youtube .youtube-video {
  width: 240px;
  height: 140px;
  margin: 0 auto 4%;
  background: #FFF;
  text-align: center;
  line-height: 140px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 286, ../sass/home.scss */
  .wrapper .youtube .youtube-video {
    width: 300px;
    height: 200px;
    line-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 286, ../sass/home.scss */
  .wrapper .youtube .youtube-video {
    width: 360px;
    height: 260px;
    line-height: 260px;
  }
}
/* line 308, ../sass/home.scss */
.wrapper .contact {
  background: #282a24;
}
/* line 311, ../sass/home.scss */
.wrapper .contact .contact-section {
  margin-bottom: 10px;
}
/* line 314, ../sass/home.scss */
.wrapper .contact .contact-section:last-child {
  margin-bottom: 0;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 311, ../sass/home.scss */
  .wrapper .contact .contact-section {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 311, ../sass/home.scss */
  .wrapper .contact .contact-section {
    margin-bottom: 20px;
  }
}
/* line 327, ../sass/home.scss */
.wrapper .contact .contact-section-header, .wrapper .contact .contact-snippet {
  margin-left: 5%;
  display: block;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
  font-weight: normal;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 327, ../sass/home.scss */
  .wrapper .contact .contact-section-header, .wrapper .contact .contact-snippet {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 327, ../sass/home.scss */
  .wrapper .contact .contact-section-header, .wrapper .contact .contact-snippet {
    font-size: 16px;
    line-height: 20px;
  }
}
/* line 350, ../sass/home.scss */
.wrapper .contact .contact-section-header {
  color: #ee5025;
}
/* line 354, ../sass/home.scss */
.wrapper .contact .contact-snippet {
  color: #eff0d1;
}
