/* line 7, ../sass/home.scss */
.wrapper {
  background: #FFF;
  /* set references */
  /* end references */
}
@media (min-width: 1025px) {
  /* line 10, ../sass/home.scss */
  .wrapper .image-slides-shares-wrapper {
    width: 1200px;
    background: #FFF;
    padding: 20px 0;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  /* line 18, ../sass/home.scss */
  .wrapper .image-slides-shares-wrapper .image-and-slides-wrapper {
    width: 900px;
    display: inline-block;
  }
}
/* line 26, ../sass/home.scss */
.wrapper .main-image {
  height: 140px;
  text-align: center;
  line-height: 140px;
  background: #FFF;
  vertical-align: top;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 26, ../sass/home.scss */
  .wrapper .main-image {
    height: 250px;
    line-height: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 26, ../sass/home.scss */
  .wrapper .main-image {
    height: 350px;
    line-height: 350px;
  }
}
@media (min-width: 1025px) {
  /* line 26, ../sass/home.scss */
  .wrapper .main-image {
    height: 385px;
    width: inherit;
    line-height: 385px;
    background: lightgray;
  }
}
/* line 51, ../sass/home.scss */
.wrapper .arrow-up {
  margin: -10px auto 0;
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid #282a24;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 51, ../sass/home.scss */
  .wrapper .arrow-up {
    margin: -12px auto 0;
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid #282a24;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 51, ../sass/home.scss */
  .wrapper .arrow-up {
    margin: -15px auto 0;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid #282a24;
  }
}
@media (min-width: 1025px) {
  /* line 51, ../sass/home.scss */
  .wrapper .arrow-up {
    margin: -20px auto 0;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid #282a24;
  }
}
/* line 81, ../sass/home.scss */
.wrapper .slides-wrapper, .wrapper .shares-wrapper {
  width: inherit;
  height: inherit;
  margin: 0 auto;
}
/* line 87, ../sass/home.scss */
.wrapper .slides {
  height: 30px;
  background: #282a24;
  text-align: center;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 87, ../sass/home.scss */
  .wrapper .slides {
    height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 87, ../sass/home.scss */
  .wrapper .slides {
    height: 60px;
  }
}
@media (min-width: 1025px) {
  /* line 87, ../sass/home.scss */
  .wrapper .slides {
    height: 50px;
  }
}
/* line 104, ../sass/home.scss */
.wrapper .slides .slide {
  color: #eff0d1;
  margin: 0px 8.5%;
  line-height: 34px;
  font-size: 14px;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 104, ../sass/home.scss */
  .wrapper .slides .slide {
    line-height: 52px;
    font-size: 18px;
    margin: 0 9.8%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 104, ../sass/home.scss */
  .wrapper .slides .slide {
    line-height: 68px;
    font-size: 22px;
    margin: 0 11%;
  }
}
@media (min-width: 1025px) {
  /* line 104, ../sass/home.scss */
  .wrapper .slides .slide {
    line-height: 58px;
    font-size: 18px;
    margin: 0 12%;
  }
}
/* line 131, ../sass/home.scss */
.wrapper .shares-wrapper {
  text-align: center;
}
/* line 135, ../sass/home.scss */
.wrapper .shares {
  height: 90px;
  background: #eff0d1;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 135, ../sass/home.scss */
  .wrapper .shares {
    height: 150px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 135, ../sass/home.scss */
  .wrapper .shares {
    height: 180px;
  }
}
@media (min-width: 1025px) {
  /* line 135, ../sass/home.scss */
  .wrapper .shares {
    height: none;
    background: none;
    display: inline-block;
    vertical-align: top;
  }
}
/* line 154, ../sass/home.scss */
.wrapper .shares .share {
  color: #FFF;
  width: 25%;
  height: 57%;
  margin: 20px 3%;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  background: #ee5025;
  text-transform: uppercase;
  vertical-align: top;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 154, ../sass/home.scss */
  .wrapper .shares .share {
    margin: 30px 3%;
    font-size: 18px;
    line-height: 90px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 154, ../sass/home.scss */
  .wrapper .shares .share {
    margin: 40px 3%;
    font-size: 20px;
    line-height: 105px;
  }
}
@media (min-width: 1025px) {
  /* line 154, ../sass/home.scss */
  .wrapper .shares .share {
    height: 115px;
    line-height: 125px;
    width: 280px;
    display: block;
    margin: 0 0 20px 15px;
    text-align: center;
    font-size: 32px;
  }
}
/* line 191, ../sass/home.scss */
.wrapper .about-the-book {
  background: #282a24;
  text-align: center;
  overflow: hidden;
}
@media (min-width: 1025px) {
  /* line 191, ../sass/home.scss */
  .wrapper .about-the-book {
    padding-bottom: 0;
    margin-bottom: 20px;
    text-align: left;
  }
}
/* line 202, ../sass/home.scss */
.wrapper .about-the-book .inner-wrapper {
  width: 100%;
}
@media (min-width: 1025px) {
  /* line 202, ../sass/home.scss */
  .wrapper .about-the-book .inner-wrapper {
    width: 900px;
  }
}
/* line 210, ../sass/home.scss */
.wrapper .about-the-book h3 {
  padding-bottom: 7%;
}
/* line 214, ../sass/home.scss */
.wrapper .about-the-book .book-and-description {
  margin: 0 auto 6%;
}
@media (min-width: 1025px) {
  /* line 214, ../sass/home.scss */
  .wrapper .about-the-book .book-and-description {
    margin: 0;
    height: 360px;
  }
}
/* line 223, ../sass/home.scss */
.wrapper .about-the-book .book-image {
  width: 80px;
  height: 140px;
  background: #ee5025;
  display: inline-block;
  text-align: center;
  line-height: 140px;
  vertical-align: top;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 223, ../sass/home.scss */
  .wrapper .about-the-book .book-image {
    width: 120px;
    height: 200px;
    line-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 223, ../sass/home.scss */
  .wrapper .about-the-book .book-image {
    width: 160px;
    height: 240px;
    line-height: 240px;
  }
}
@media (min-width: 1025px) {
  /* line 223, ../sass/home.scss */
  .wrapper .about-the-book .book-image {
    width: 380px;
    height: 480px;
    line-height: 438px;
  }
}
/* line 251, ../sass/home.scss */
.wrapper .about-the-book .book-description {
  color: #eff0d1;
  width: 55%;
  margin-left: 8%;
  margin-top: 2%;
  text-align: left;
  display: inline-block;
}
@media (min-width: 1025px) {
  /* line 260, ../sass/home.scss */
  .wrapper .about-the-book .non-desktop-version {
    display: none;
  }
}
/* line 266, ../sass/home.scss */
.wrapper .about-the-book .desktop-version {
  display: none;
}
@media (min-width: 1025px) {
  /* line 266, ../sass/home.scss */
  .wrapper .about-the-book .desktop-version {
    width: 44%;
    margin-left: 80px;
    display: inline-block;
  }
}
@media (min-width: 1025px) {
  /* line 275, ../sass/home.scss */
  .wrapper .about-the-book .desktop-version .buy-it-now {
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
/* line 284, ../sass/home.scss */
.wrapper .twitter-instagram-youtube-wrapper {
  background: #ee5025;
}
@media (min-width: 1025px) {
  /* line 287, ../sass/home.scss */
  .wrapper .twitter-instagram-youtube-wrapper .desktop-inner-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
}
/* line 298, ../sass/home.scss */
.wrapper .youtube-reference, .wrapper .instagram-reference, .wrapper .contact-wrapper {
  display: block;
  text-align: center;
}
/* line 302, ../sass/home.scss */
.wrapper .youtube-reference .handle, .wrapper .youtube-reference .time-stamp, .wrapper .instagram-reference .handle, .wrapper .instagram-reference .time-stamp, .wrapper .contact-wrapper .handle, .wrapper .contact-wrapper .time-stamp {
  color: #eff0d1;
  font-size: 10px;
  line-height: 12px;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 302, ../sass/home.scss */
  .wrapper .youtube-reference .handle, .wrapper .youtube-reference .time-stamp, .wrapper .instagram-reference .handle, .wrapper .instagram-reference .time-stamp, .wrapper .contact-wrapper .handle, .wrapper .contact-wrapper .time-stamp {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 302, ../sass/home.scss */
  .wrapper .youtube-reference .handle, .wrapper .youtube-reference .time-stamp, .wrapper .instagram-reference .handle, .wrapper .instagram-reference .time-stamp, .wrapper .contact-wrapper .handle, .wrapper .contact-wrapper .time-stamp {
    font-size: 14px;
    line-height: 16px;
  }
}
/* line 322, ../sass/home.scss */
.wrapper .twitter, .wrapper .instagram, .wrapper .youtube {
  vertical-align: top;
}
@media (min-width: 1025px) {
  /* line 322, ../sass/home.scss */
  .wrapper .twitter, .wrapper .instagram, .wrapper .youtube {
    display: inline-block;
    padding-bottom: 15px;
  }
}
@media (min-width: 1025px) {
  /* line 330, ../sass/home.scss */
  .wrapper .twitter .inner-wrapper, .wrapper .instagram .inner-wrapper, .wrapper .youtube .inner-wrapper {
    width: 290px;
    padding: 0 50px;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  /* line 338, ../sass/home.scss */
  .wrapper .twitter h3, .wrapper .instagram h3, .wrapper .youtube h3 {
    font-size: 20px;
    padding: 25px 0 20px;
  }
}
/* line 346, ../sass/home.scss */
.wrapper .twitter {
  background: #ee5025;
  text-align: left;
}
/* line 350, ../sass/home.scss */
.wrapper .twitter .tweet {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 5px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 350, ../sass/home.scss */
  .wrapper .twitter .tweet {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 350, ../sass/home.scss */
  .wrapper .twitter .tweet {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1025px) {
  /* line 350, ../sass/home.scss */
  .wrapper .twitter .tweet {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 0;
  }
}
/* line 374, ../sass/home.scss */
.wrapper .twitter .handle, .wrapper .twitter .time-stamp {
  color: #eff0d1;
  font-size: 10px;
  display: inline-block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 374, ../sass/home.scss */
  .wrapper .twitter .handle, .wrapper .twitter .time-stamp {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 374, ../sass/home.scss */
  .wrapper .twitter .handle, .wrapper .twitter .time-stamp {
    font-size: 14px;
  }
}
@media (min-width: 1025px) {
  /* line 374, ../sass/home.scss */
  .wrapper .twitter .handle, .wrapper .twitter .time-stamp {
    font-size: 14px;
  }
}
/* line 392, ../sass/home.scss */
.wrapper .twitter .time-stamp {
  margin-bottom: 15px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 392, ../sass/home.scss */
  .wrapper .twitter .time-stamp {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 392, ../sass/home.scss */
  .wrapper .twitter .time-stamp {
    margin-bottom: 25px;
  }
}
/* line 403, ../sass/home.scss */
.wrapper .twitter .time-stamp:last-child {
  margin-bottom: 0;
}
/* line 409, ../sass/home.scss */
.wrapper .instagram {
  background: #282a24;
}
@media (min-width: 1025px) {
  /* line 409, ../sass/home.scss */
  .wrapper .instagram {
    background: #ee5025;
  }
}
/* line 416, ../sass/home.scss */
.wrapper .instagram .instagram-image {
  width: 240px;
  height: 240px;
  margin: 0 auto 4%;
  background: #FFF;
  text-align: center;
  line-height: 240px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 416, ../sass/home.scss */
  .wrapper .instagram .instagram-image {
    width: 300px;
    height: 300px;
    line-height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 416, ../sass/home.scss */
  .wrapper .instagram .instagram-image {
    width: 360px;
    height: 360px;
    line-height: 360px;
  }
}
@media (min-width: 1025px) {
  /* line 416, ../sass/home.scss */
  .wrapper .instagram .instagram-image {
    width: 300px;
    height: 300px;
    line-height: 300px;
  }
}
/* line 445, ../sass/home.scss */
.wrapper .youtube {
  background: #ee5025;
}
/* line 448, ../sass/home.scss */
.wrapper .youtube .youtube-video {
  width: 240px;
  height: 140px;
  margin: 0 auto 4%;
  background: #FFF;
  text-align: center;
  line-height: 140px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 448, ../sass/home.scss */
  .wrapper .youtube .youtube-video {
    width: 300px;
    height: 200px;
    line-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 448, ../sass/home.scss */
  .wrapper .youtube .youtube-video {
    width: 360px;
    height: 260px;
    line-height: 260px;
  }
}
@media (min-width: 1025px) {
  /* line 448, ../sass/home.scss */
  .wrapper .youtube .youtube-video {
    width: 300px;
    height: 175px;
    line-height: 175px;
  }
}
@media (min-width: 1025px) {
  /* line 476, ../sass/home.scss */
  .wrapper .contact.non-desktop-version {
    display: none;
  }
}
