/* line 9, ../sass/menu.scss */
.nav a {
  color: #FFF;
  padding: 10px 0;
  padding-left: 10px;
  background: #282a24;
  display: block;
  list-style: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Memphis", serif;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 9, ../sass/menu.scss */
  .nav a {
    padding: 14px 0;
    padding-left: 18px;
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 9, ../sass/menu.scss */
  .nav a {
    padding: 18px 0;
    padding-left: 26px;
    font-size: 24px;
  }
}
/* line 34, ../sass/menu.scss */
.nav .spacer {
  height: 2px;
  padding: 0;
  background: #FFF;
}

/* line 42, ../sass/menu.scss */
.x-container {
  position: relative;
  width: 22px;
  height: 22px;
  background: #FFF;
  margin: 10px auto;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 42, ../sass/menu.scss */
  .x-container {
    width: 28px;
    height: 28px;
    margin: 12px auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 42, ../sass/menu.scss */
  .x-container {
    width: 34px;
    height: 34px;
    margin: 14px auto;
  }
}
/* line 61, ../sass/menu.scss */
.x-container .x-arrow-up, .x-container .x-arrow-down, .x-container .x-arrow-left, .x-container .x-arrow-right {
  position: absolute;
  width: 0;
  height: 0;
}
/* line 67, ../sass/menu.scss */
.x-container .x-arrow-up, .x-container .x-arrow-down {
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 67, ../sass/menu.scss */
  .x-container .x-arrow-up, .x-container .x-arrow-down {
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 67, ../sass/menu.scss */
  .x-container .x-arrow-up, .x-container .x-arrow-down {
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
  }
}
/* line 82, ../sass/menu.scss */
.x-container .x-arrow-left, .x-container .x-arrow-right {
  border-top: 9px solid rgba(0, 0, 0, 0);
  border-bottom: 9px solid rgba(0, 0, 0, 0);
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 82, ../sass/menu.scss */
  .x-container .x-arrow-left, .x-container .x-arrow-right {
    border-top: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid rgba(0, 0, 0, 0);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 82, ../sass/menu.scss */
  .x-container .x-arrow-left, .x-container .x-arrow-right {
    border-top: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
  }
}
/* line 97, ../sass/menu.scss */
.x-container .x-arrow-up {
  bottom: 0;
  left: 2px;
  border-bottom: 9px solid #282a24;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 97, ../sass/menu.scss */
  .x-container .x-arrow-up {
    border-bottom: 12px solid #282a24;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 97, ../sass/menu.scss */
  .x-container .x-arrow-up {
    border-bottom: 15px solid #282a24;
  }
}
/* line 111, ../sass/menu.scss */
.x-container .x-arrow-down {
  top: 0;
  left: 2px;
  border-top: 9px solid #282a24;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 111, ../sass/menu.scss */
  .x-container .x-arrow-down {
    border-top: 12px solid #282a24;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 111, ../sass/menu.scss */
  .x-container .x-arrow-down {
    border-top: 15px solid #282a24;
  }
}
/* line 125, ../sass/menu.scss */
.x-container .x-arrow-left {
  right: 0;
  top: 2px;
  border-right: 9px solid #282a24;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 125, ../sass/menu.scss */
  .x-container .x-arrow-left {
    border-right: 12px solid #282a24;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 125, ../sass/menu.scss */
  .x-container .x-arrow-left {
    border-right: 15px solid #282a24;
  }
}
/* line 139, ../sass/menu.scss */
.x-container .x-arrow-right {
  left: 0;
  top: 2px;
  border-left: 9px solid #282a24;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 139, ../sass/menu.scss */
  .x-container .x-arrow-right {
    border-left: 12px solid #282a24;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 139, ../sass/menu.scss */
  .x-container .x-arrow-right {
    border-left: 15px solid #282a24;
  }
}
