/* line 8, ../sass/preview.scss */
.wrapper .feel-overwhelmed {
  background: #eff0d1;
}
/* line 11, ../sass/preview.scss */
.wrapper .feel-overwhelmed .overwhelmed-video {
  height: 140px;
  width: 240px;
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  line-height: 140px;
}
/* line 21, ../sass/preview.scss */
.wrapper .take-quiz {
  background: #ee5025;
}
/* line 25, ../sass/preview.scss */
.wrapper .get-updates {
  text-align: center;
  background: #282a24;
}
/* line 29, ../sass/preview.scss */
.wrapper .get-updates .name, .wrapper .get-updates .email {
  width: 100%;
  padding: 7px 8px;
  font-size: 12px;
  margin-bottom: 8px;
}
/* line 36, ../sass/preview.scss */
.wrapper .get-updates .email {
  margin-bottom: 20px;
}
/* line 41, ../sass/preview.scss */
.wrapper .read-chapter-one {
  background: #ee5025;
}
