/* line 8, ../sass/preview.scss */
.wrapper .feel-overwhelmed {
  background: #eff0d1;
}
@media (min-width: 1025px) {
  /* line 8, ../sass/preview.scss */
  .wrapper .feel-overwhelmed {
    padding-bottom: 60px;
  }
}
/* line 15, ../sass/preview.scss */
.wrapper .feel-overwhelmed .overwhelmed-video {
  height: 140px;
  width: 240px;
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  line-height: 140px;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 15, ../sass/preview.scss */
  .wrapper .feel-overwhelmed .overwhelmed-video {
    height: 240px;
    width: 400px;
    line-height: 240px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 15, ../sass/preview.scss */
  .wrapper .feel-overwhelmed .overwhelmed-video {
    height: 340px;
    width: 540px;
    line-height: 340px;
  }
}
@media (min-width: 1025px) {
  /* line 15, ../sass/preview.scss */
  .wrapper .feel-overwhelmed .overwhelmed-video {
    height: 420px;
    width: 720px;
    line-height: 420px;
  }
}
/* line 43, ../sass/preview.scss */
.wrapper .take-quiz {
  background: #ee5025;
}
@media (min-width: 1025px) {
  /* line 46, ../sass/preview.scss */
  .wrapper .take-quiz p {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 65px;
  }
}
/* line 55, ../sass/preview.scss */
.wrapper .get-updates {
  text-align: center;
  background: #282a24;
}
@media (min-width: 1025px) {
  /* line 55, ../sass/preview.scss */
  .wrapper .get-updates {
    padding-bottom: 50px;
  }
}
/* line 63, ../sass/preview.scss */
.wrapper .get-updates .name, .wrapper .get-updates .email {
  width: 90%;
  padding: 1.5% 8% 2% 1.5%;
  font-size: 12px;
  margin: 0 auto 3%;
  display: block;
}
@media (min-width: 461px) and (max-width: 767px) {
  /* line 63, ../sass/preview.scss */
  .wrapper .get-updates .name, .wrapper .get-updates .email {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 63, ../sass/preview.scss */
  .wrapper .get-updates .name, .wrapper .get-updates .email {
    width: 60%;
  }
}
@media (min-width: 1025px) {
  /* line 63, ../sass/preview.scss */
  .wrapper .get-updates .name, .wrapper .get-updates .email {
    width: 40%;
    font-size: 22px;
    padding: 14px 18px;
    margin: 0 auto 20px;
  }
}
/* line 86, ../sass/preview.scss */
.wrapper .get-updates .email {
  margin-bottom: 6.5%;
}
@media (min-width: 1025px) {
  /* line 86, ../sass/preview.scss */
  .wrapper .get-updates .email {
    margin-bottom: 35px;
  }
}
/* line 95, ../sass/preview.scss */
.wrapper .read-chapter-one {
  background: #ee5025;
}
@media (min-width: 1025px) {
  /* line 98, ../sass/preview.scss */
  .wrapper .read-chapter-one p {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 65px;
  }
}
